.intersoccer-custom-price {
    margin-top: 5px;
}
.intersoccer-player-selection, .intersoccer-day-selection {
    margin: 10px 0;
}
.intersoccer-player-selection select, .intersoccer-day-selection input[type="checkbox"] {
    width: 100%;
}