.intersoccer-custom-price {
    margin-top: 5px;
}
.intersoccer-player-selection, .intersoccer-day-selection {
    margin: 10px 0;
}
.intersoccer-player-selection select, .intersoccer-day-selection input[type="checkbox"] {
    width: 100%;
}

.intersoccer-custom-price .total-price {
  margin-top: 10px;
  font-size: 0.5em;
  color: #eec432;
}

.intersoccer-custom-price {
    display: block !important;
    margin-top: 5px;
}

.intersoccer-dates { font-weight: bold; color: #333; }